@model IEnumerable<NewWebApp.Models.Photo>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-left">
        <p>
            @foreach(var photo in Model)
            {
                <div>
                    <h2>@photo.Title</h2>
                    <h2>@photo.Description</h2>
                </div>
            }
        </p>
    </div>
</div>
